@font-face {
    font-family: 'TT Lakes Medium';
    src: local('TT Lakes Medium'), url(../fonts/TT-Lakes-Medium.otf) format('opentype');
  }

.opcion {
    height: auto;
    width: auto;
    align-items:center;
    justify-content:center;
    font-family: 'TT Lakes Medium', sans-serif;
    font-size: 12px;
    background-color: black;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}

.opcion:hover {
    color: red;
}